{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/layout/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/layout/header.css' %}"/>
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Bürokamerad{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <a href="#" class="header-logo">
            <img src="{% static 'img/logo.png' %}"/>
        </a>
        <div class="sidebar">
            <span onclick="openNav()">&#9776;</span>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/login">Se connecter</a>
            <a href="/">Accueil</a>
            <a href="/faq">F.A.Q</a>
            <a href="#">A propos</a>
            <a href="#">Nous contacter</a>
        </div>
    </div>
    <div class="header-burokamerad">
        <p>Burokamerad</p>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer-content">
            <h3>Burokamerad</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Burokamerad. </p>
        </div>
    </footer>
</body>
</html>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>