{% load static %}
<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Burokamerad Login</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    </head>
    <body>
        <div class="form">
            <form class="login-form">
                <div class="login-text">
                    <p>Hi, welcome to your Bürokamerad</p>
                    <p>Please login to your account, or create a new one if needed.</p>
                </div>
                <p><input type="text" placeholder="Username" name="username" required></p>
                <p><input type="password" placeholder="Password" name="password" required></p>
                <button class="button primary-button" type="submit">Login</button>
                <div class="login-text">
                    <p>Create your new account <a href="/register"> here</a></p>
                </div>
            </form>
        </div>
    </body>
</html>