{% load static %}
<!doctype html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Burokamerad Register</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
    </head>
    <body>
        <div class="form">
            <form class="login-form">
                <div class="login-text">
                    <p>Sign up</p>
                </div>
                <p><input type="text" placeholder="Email" name="Email" required></p>
                <p><input type="text" placeholder="Username" name="username" required></p>
                <p><input type="password" placeholder="Password" name="password" required></p>
                <button class="button primary-button" type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>