<!doctype html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "../public/css/base.css">
    <link rel="stylesheet" href="../public/css/layout/footer.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <footer>
        <div class="footer-content">
            <h3>Burokamerad</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2021 Burokamerad. </p>
        </div>
    </footer>
</body>
</html>